language: cpp
sudo: required
dist: trusty
os:
  - linux

services:
  - docker

branches:
  only:
    - master
    - travis-ci

env:
  - IMPL=triSYCL CXX_COMPILER=g++-6 CC_COMPILER=gcc-6
  - IMPL=triSYCL CXX_COMPILER=clang++-4.0 CC_COMPILER=clang-4.0
  - IMPL=COMPUTECPP CXX_COMPILER=g++-6 CC_COMPILER=gcc-6
  - IMPL=COMPUTECPP CXX_COMPILER=clang++-4.0 CC_COMPILER=clang-4.0

matrix:
  fast_finish: true
# Some tests are not passing on triSYCL
  allow_failures:
    - env: IMPL=triSYCL CXX_COMPILER=g++-6 CC_COMPILER=gcc-6
    - env: IMPL=triSYCL CXX_COMPILER=clang++-4.0 CC_COMPILER=clang-4.0

before_install:
  - |
    if [[ ${TRAVIS_PULL_REQUEST} == "false" ]]; then
       export GIT_SLUG=${TRAVIS_REPO_SLUG}
       export GIT_BRANCH=${TRAVIS_BRANCH}
    else
       export GIT_SLUG=${TRAVIS_PULL_REQUEST_SLUG}
       export GIT_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}
    fi
  - docker build --build-arg c_compiler=${CC_COMPILER}
                 --build-arg cxx_compiler=${CXX_COMPILER}
                 --build-arg git_branch=${GIT_BRANCH}
                 --build-arg git_slug=${GIT_SLUG}
                 --build-arg impl=${IMPL}
                 -t parallelstl .

script:
  - docker run parallelstl
